.nav-header-full-width {
    background-color: var(--main-theme-color);
    position: fixed;
   left:0;
   top:0;
   height: 50px;
   width: 100vw;
   z-index: 102;
  }
  .nav-header{
    background-color: var(--main-theme-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: sticky;
   top: 0;
   z-index: 103;
  }
  .menuItems {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 100%;
    font-size: .8rem;
  }
  .nav-header li {
    list-style: none;
    white-space: nowrap;
    overflow-x: hidden;
  }
  .nav-header img {
    max-height: 40px;
  }
  .menuItems a {
    display: inline-block;
    color: var(--nav-bar-link-color);
    text-decoration: none; 
    padding: 0.6rem 1rem 0.6rem 1rem;
  }
  
  .menuItems li:hover {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: .5rem;
  }
  .menuItems a:focus {
    box-shadow:0 0 0 .1rem var(--nav-bar-link-color) inset;
    outline: none;
  }
  .menuItems li.icon {
    display: none;
  }
  @media screen and (max-width:700px) {
.menuItems li {
  display: none;
}
.menuItems li.icon {
  font-size: 1.3rem;
  display: unset;
  padding: .1rem;
  padding-left: .4rem;
  padding-right: .4rem;
  margin-right: .5rem;
}
.menuItems a {
 padding: .1rem;
 padding-left: 1rem;
  padding-right: 1rem;
}
.menuItems {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
  }