

label{
    font-size: .7rem;
    color: var(--active-element-color);
    font-weight: 500;
}

.toggle-container {
    margin-top: 5px;
}
.switch-theme{
    position: relative;
    display: inline-block;
    width: 110px;
    height: 24px;
  }
  
  .switch-theme > label.slider-theme{
    margin: 0px;
    width: 110px;
    height: 25px;
    background: var(--background-inactive-menu-color);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
  }
  
  .switch-theme > label.slider-theme:before{
    content: attr(data-cold);
    position: absolute;
    font-size: .7rem;
    font-weight: 500;
    top: 5px;
    right: 18px;
  
  }
  
  .switch-theme > label.slider-theme:after{
    content: attr(data-warm);
    font-size: .7rem;
    width: 48px;
    height: 17px;
    color: var(--main-button-background-color);
    background: var(--secondary-button-background-color);
    border-radius: 15px;
   position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 2px 0px;
  }
  
  .switch-theme input{
    cursor: pointer;
    width: 110px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    margin: 0px;
  }
  
  .switch-theme input:checked + label.slider-theme{
    background: #1041aa;
    color: var(--heading-text-color);
  }
  
  .switch-theme input:checked + label.slider-theme:after{
    content: attr(data-cold);
    left: 60px;
    background: #68acf1;
    color: var(--heading-text-color);
  }
  
  .switch-theme input:checked + label.slider-theme:before{
    content: attr(data-warm);
    right: auto;
    left: 14px;
  }
  
  .switch-theme input:checked:focus + label.slider-theme:after{
    background: var(--main-theme-color);
  }
  .switch-theme input:focus + label.slider-theme:after{
    background: var(--main-theme-color);
  }