.data-container {
    position: relative;
    background-color: var(--container-background-color);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    width: 100%;
    max-width: 1000px;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    z-index: 5;
  }
  .text-container {
    padding: 3rem;
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    text-align: justify;
  }
  .text-header-background {
    position: absolute;
    background-color: var(--background-inactive-menu-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 115px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    z-index: -1;
}
.text-container h3 {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    color: var(--active-element-color);
    margin-bottom: 50px;
}
.text-container h4 {
    font-size: 1.1rem;
    font-weight: 600;
}
 .text-container a {
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    color: var(--text-subtle-color); 
    float: right;
} 