.nav-header-full-width {
 background-color: var(--main-theme-color);
 position: fixed;
 left:0;
 top:0;
 height: 50px;
 width: 100vw;
 z-index: 102;
}
.nav-header{
  background-color: var(--main-theme-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  height: 50px;
  top: 0;
  z-index: 103;
  font-size: 1rem;
}
.nav-header li {
  list-style: none;
  white-space: nowrap;
  overflow-x: hidden;
  cursor: pointer;
}
.nav-header img {
  max-height: 40px;
}
.menuItems {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  width: 100%;
  font-size: .8rem;  
  gap: 5px;
}
.menu{
  flex-grow: 1;
}
.menu > a{
  display:none;
}
.menuItems a {
  display: inline-block;
  color: var(--nav-bar-link-color);
  text-decoration: none; 
  padding: 0.6rem 1rem 0.6rem 1rem;
}
.menuItems li:hover {
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: .5rem;
}
.menuItems a:focus {
  box-shadow:0 0 0 .1rem var(--nav-bar-link-color) inset;
  border-radius: .5rem;
  outline: none;
}

@media only screen and (max-width: 700px){
  .menuItems {
    display: unset;
    width: auto;
    height: auto;
  }

  .menu > a {
    display: unset;
  }

  .menu {
   display: block;
   position: absolute;
   margin: 0;
   top: 1px;
   right: 125px;
   transition-duration: 0.5s;
   width: 130px;
   border-bottom-left-radius: .5rem;
   border-bottom-right-radius: .5rem;
   cursor: pointer;
   padding: 0;
   text-align: right;
   }
   
   .dropdown {
     visibility: hidden;
     opacity: 0;
     position: relative;
     transition: all 0.5s ease;
     margin-top: -.1rem;
     left: 0;
     display: none;
     background-color: var(--main-theme-color);
     border-bottom-left-radius: .5rem;
     border-bottom-right-radius: .5rem;
   }
   
  .menu:hover > ul,
  .menu:focus-within > ul,
   .dropdown:hover {
     visibility: visible;
     opacity: 1;
     display: block;
   }
   .menu > a {
    text-align: right;
    font-size: 1.4rem;
    padding: 0;
   }
   .menu > a:focus {
    outline:none;
    background-color: rgb(240, 248, 255, .2);
   }

   .menu ul {
    text-align: center;
   }
   
  .nav-header a {
    display: inline-block;
    color: var(--nav-bar-link-color);
    text-decoration: none; 
    padding: 0.5rem .8rem 0.5rem .8rem;
  }

  .menu:hover {
    background-color: rgb(255, 255, 255, 0.2);
  }
  .nav-header li:hover {
    border-radius: 0;
    background-color: rgb(255, 255, 255, 0.2);
  }
  .nav-header li:last-child:hover {
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  .nav-header a{
    width: 130px;
    border-radius: 0px;
  }
  .menuItems a:last-child{
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  .menuItems li:last-child a:focus{
   border-bottom-right-radius: .5rem;
   border-bottom-left-radius: .5rem;
  }
  .menuItems a:focus {
    outline: none;
    background-color: rgb(240, 248, 255, .2);
    box-shadow: none;
    border-radius: 0;
  }
}


