
.notification{
    display: flex;
    align-items: center;
    position: absolute;
    font-size: .6rem;
    color: var(--notification-color);
    font-weight: 300;
    background-color: var(--notification-background-color);
    padding: .4rem .4rem .4rem 0;
    text-align: left;
    max-width: 440px;
    width: 60vw;
    min-width: 250px;
  }