.mobile-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    gap: 7%;
    align-items: center;
    width: 100%;
}
.mobile-container img{
    max-width: 55%;
    transition: max-width 1s ease;
}
.mobile-text {
    text-align: center;
    color: white;
    min-width: 30%;
}
.mobile-text div {
    width: 80vw;
    max-width: 100%;
  }
.mobile-text h4 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 2rem;  
}
.mobile-text h4:first-child {
    margin-top: 0;
}
.mobile-text h4:last-of-type {
    //margin-bottom: 1rem;
    background: linear-gradient(-45deg, #ffb868, #ff5f84, #30c6fd, #33ecc1);
	background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s ease infinite;
}

.mobile-text .button {
    margin-top: 1.5rem
}
.small-text {
    font-size: .9rem;
    opacity: .6;
    margin-top: .7rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 880px){
    .mobile-container{
      display: flex;
      flex-direction: column;
    } 
    .mobile-container img{
        max-width: 75%;
        margin-bottom: 2rem;
        transition: max-width 1s ease;
    }
    .mobile-text {
        max-width: 400px;
    }
  }
  @media only screen and (max-width: 560px){
    .mobile-container img{
        max-width: 90%;
        margin-bottom: 2rem;
        transition: max-width 1s ease;
    }

  }