footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
    position: relative;
    height: 130px;
    font-size: 1.1rem;
    color: var(--heading-text-color);
    font-weight: 200;
    line-height: 1.8;
}
.footer-fullwidth {
    position: absolute;
    width: 100vw;
    height: 130px;
    background-color: var(--main-theme-color);
    z-index: -1;
}

.footer-author {
    font-weight: 600;
}
.footer-date {
    font-size: .9rem;
}