body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.container {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 1rem;
  padding: 3rem;
  padding-top: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  margin:0;
  margin-bottom: 2rem;
  color: #333;
}

.input {
  outline: none;
  border: 1px solid rgb(215, 215, 215);
  border-radius: .3rem;
  padding: .25em;
  width: 12em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select {
margin-left: 0.2rem;
  border: 1px solid rgb(215, 215, 215);
  border-radius: .3rem;
  padding: .25em;
}

.change {
  margin: 0.7rem;
  padding: 0.7rem;
  border-radius: 50%;
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px;
}
.change i {
  opacity: 75%;
}